@use "sass:math";
@import '../../styles/settings.scss';

.subtitle {
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.hero {
    padding: $base-size;
}

.column {
    flex-shrink: 0;
    width: calc(33% - 12px);
    background: $color-light;
    margin: 0 auto;
    padding: ($base-size * 1.5);
    border-radius: $radius;
    box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
    color: $color-dark;
}

.cards {
    padding: math.div($base-size, 2) 0;
  }

  @media (max-width: 767px) {
    .column {
      width: 100%;
      margin: 0 0 $base-size 0;
    }
  }