@import '../../styles/settings.scss';

.navBar {
    background-color: darken($color-dark, 3%);
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 20px;
    margin-left: 50px;

    a {
        font-size: 24px;
        color: $color-light;
    }
}


.links  {
    padding: 10px 40px 10px 0;
   li{
    display: inline-block;
    
    font-family: $font-text;
    font-size: 20px;
    padding-right: 20px;
    a {
        color: $color-light;
        text-decoration: none;
    }
    .linkActive {
        color: $color-warning;
    }
   }

}

